body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    padding: 16px;
}

@media screen and (max-width: 760px) {
    .container {
        padding: 0;
    }
}
